<footer class="p-4 bg-white md:px-6 md:py-8">
  <p class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
    &copy; <%= Date.utc_today().year %> <%= title() %>. All Rights Reserved.
  </p>
</footer>
