<!-- Start Header -->
<%= Phoenix.View.render(@view_module, "header.html", assigns) %>
<!-- End Header -->

<!-- Start Main -->
<%= Phoenix.View.render(@view_module, "main.html", assigns) %>
<!-- End Main -->

<!-- Start Footer -->
<%= Phoenix.View.render(@view_module, "footer.html", assigns) %>
<!-- End Footer -->
