{Phoenix.View.render(Literature.SharedView, "header.html", Map.put(assigns, :conn, @socket))}

<main class="mt-16 min-h-screen py-10 bg-gray-50">
  <div class="max-w-screen-xl mx-auto">
    <.success_alert {assigns} />
    <.error_alert {assigns} />
    {@inner_content}
  </div>
</main>

{Phoenix.View.render(Literature.SharedView, "footer.html", Map.put(assigns, :conn, @socket))}
