<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= render_all_tags(assigns[:meta_tags] || %{}, @current_url) %>
    <link rel="canonical" href={@current_url}>
    <link rel="shortcut icon" type="image/png" href={application_favicon_path(@conn, @view_module)} />
    <link phx-track-static rel="stylesheet" href={application_css_path(@conn, @view_module)} />
    <script defer phx-track-static type="text/javascript" src={application_js_path(@conn, @view_module)}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
