<footer class="pb-4 rounded-lg md:pb-6">
  <hr class="mb-6 border-gray-200 sm:mx-auto" />
  <%= link to: "https://github.com/martide/literature", target: "_blank", class: "block text-sm text-gray-500 sm:text-center" do %>
    <span class="font-medium">Literature</span>
    <%= Application.spec(:literature, :vsn) %>
  <% end %>
</footer>
